.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: var(--frame-padding);
  position: relative;
  overflow: hidden;
}

div.title_text_social_container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 1.5rem;
  z-index: 5;
}

.title_text_social_container p {
  font-size: 1.2rem;
}

div.social_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

div.icons {
  display: flex;
  gap: 1rem;
}

div.icons img {
  width: 2rem;
}

.contact_form_container {
  width: 60%;
}

.contact_form_container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact_form_container form input,textarea {
  border-radius: 10px;
  border: 1px solid var(--main-black);
  padding: 1rem;
  background-color: rgba(249, 247, 245, 0.5);
  backdrop-filter: blur(5px);
  font-family: 'Work Sans', sans-serif;
}

.contact_form_container form button {
  border-radius: 10px;
  border: 1px solid var(--main-black);
  color: var(--main-black);
  padding: 1rem;
  background-color: var(--main-white);
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  div.title_text_social_container {
    width: 100%;
  }
  div.title_text_social_container p {
    font-size: 1rem;
    text-align: center;
  }
  div.social_container {
    align-items: center;
  }
  .contact_form_container {
    width: 100%;
  }
  .contact_form_container form input,textarea {
    border-radius: 5px;
    padding: .75rem;
  }
  .contact_form_container form button {
    border-radius: 5px;
    padding: .75rem;
  }
}