:root {
  --main-red: #ED6A5A;
  --main-black: #292F36;
  --main-white: #F9F7F5;
  --frame-width: 3vw;
  --frame-padding: 4vw;
  --nav-padding: 0.2rem;
  --link-size: 1.2rem;
}

.home {
  height: 100%;
  width: 100%;
  padding: var(--frame-padding);
  display: flex;
  justify-content: space-between;
  gap: 20%;
  overflow: hidden;
  position: relative;
}

p.blob_text_1 {
  position: absolute;
  top: 40%;
  font-size: 3rem;
  mix-blend-mode: difference;
  color: var(--main-red);
  transition: color 0.3s ease-in-out;
  z-index: 1;
}

p.blob_text_2 {
  position: absolute;
  top: 40%;
  mix-blend-mode: difference;
  color: var(--main-white);
  font-size: 3rem;
  transition: color 0.3s ease-in-out;
  z-index: 1;
}

.home p {
  max-width: 50%;
  align-self: center;
  font-size: 3rem; 
  font-weight: 900;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.webTitle {
  font-size: 12rem;
}

.homeMenu {
  width: 120%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.homeMenu li {
  margin-bottom: 10px;
}

.homeMenu li a {
  font-size: 2.5rem;
  font-weight: 200;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.homeMenu li a:hover {
  color: var(--main-red);
}

.homeMenu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-red);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.homeMenu li a:hover::after {
  width: 100%;
}