.home {
  height: 100%;
  width: 100%;
  background-image: url('../assets/blobs/home-blob.svg');
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: calc(35% - 50vw) center;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  gap: 20%;
}

.color-change {
  mix-blend-mode: difference;
  transition: color 0.3s ease-in-out;
  /* Transición suave para evitar cambios bruscos */
}

div.div_color {
  width: 30px;
}

.home p {
  max-width: 50%;
  align-self: center;
  font-size: 3rem;
  font-weight: 900;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.webTitle {
  font-size: 12rem;
}

.homeMenu {
  width: 120%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.homeMenu li {
  margin-bottom: 10px;
}

.homeMenu li a {
  font-size: 2.5rem;
  font-variant-caps: all-petite-caps;
  font-weight: 200;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.homeMenu li a:hover {
  color: var(--main-red);
}

.homeMenu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-red);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.homeMenu li a:hover::after {
  width: 100%;
}