:root {
  --mobile-height: 80vh;
  --mobile-width: calc(var(--mobile-height) / 2.05);
  --mobile-frame-thick: calc(var(--mobile-height) * 1.5 / 100);
  --mobile-notch-width:calc(var(--mobile-height) * 1.5 / 16);
  --mobile-notch-height: calc(var(--mobile-height) * 0.5 / 16);
  --mobile-button-width: calc(var(--mobile-height) * 0.3 / 16);
  --mobile-power-height: calc(var(--mobile-height) * 2.5 / 16);
  --mobile-volume-height: calc(var(--mobile-height) * 1.5 / 16);
  --pc-height: 45vh;
  --pc-width: calc(var(--pc-height) * 14 / 9);
  --pc-frame-thick: calc(var(--pc-height) * 1.5 /100);
  --pc-header-height: calc(var(--pc-height) * 0.75 / 16);
  --pc-dot-size: calc(var(--pc-height) * 0.3 / 16);
}

.projects {
  height: 100%;
  width: 100%;
  padding: var(--frame-padding);
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

div.title_projects_container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

div.projects_cards_container_wrapper {
  max-height: 550px;
  overflow-y: auto;
  scrollbar-color: "#AB882E";
}

div.projects_cards_container {
  padding-right: 20px;
}

div.simulator_container {
  height: var(--mobile-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.simulator_message {
  font-size: 2rem;
  font-variant-caps: all-petite-caps;
  margin: 0 10%;
  text-align: center;
}

.mobile_frame {
  position: relative;
  width: var(--mobile-width);
  height: var(--mobile-height);
  background-color: var(--main-white);
  border-radius: 60px;
  border: var(--mobile-frame-thick) solid var(--main-black);
  z-index: 10;
}

div.mobile_loading {
  position: absolute;
  width: calc(var(--mobile-width) - 2 * var(--mobile-frame-thick));
  height: calc(var(--mobile-height) - 2 * var(--mobile-frame-thick));
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  opacity: 0;
}

.mobile_iframe {
  position: absolute;
  width: calc(var(--mobile-width) - 1.9 *var(--mobile-frame-thick));
  height: calc(var(--mobile-height) - 1.9 *var(--mobile-frame-thick));
  border-radius: 46px;
  z-index: 20;
}

div.mobile_notch {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--mobile-notch-width);
  height: var(--mobile-notch-height);
  background-color: var(--main-black);
  border-radius: 20px;
  z-index: 20;
  opacity: 80%;
}

div.mobile_power_button {
  position: absolute;
  top: 22%;
  right: calc(-1.5 * var(--mobile-frame-thick));
  width: var(--mobile-button-width);
  height: var(--mobile-power-height);
  background-color: var(--main-black);
  border-radius: 10px;
  z-index: 10;
}

div.mobile_volume_up_button {
  position: absolute;
  top: 20%;
  left: calc(-1.5 * var(--mobile-frame-thick));
  width: var(--mobile-button-width);
  height: var(--mobile-volume-height);
  background-color: var(--main-black);
  border-radius: 10px;
  z-index: 10;
}

div.mobile_volume_down_button {
  position: absolute;
  top: 30%;
  left: calc(-1.5 * var(--mobile-frame-thick));
  width: var(--mobile-button-width);
  height: var(--mobile-volume-height);
  background-color: var(--main-black);
  border-radius: 10px;
}

div.pc_loading {
  position: absolute;
  width: var(--pc-width);
  height: calc(var(--pc-height) + var(--pc-header-height));
  background-color: var(--main-white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 0;
}

div.pc_frame{
  position: relative;
  width: var(--pc-width);
  height: calc(var(--pc-height) + var(--pc-header-height));
  background-color: var(--main-black);
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
}

.pc_iframe {
  transform: scale(0.5);
  transform-origin: top left;
  width: calc(2 * var(--pc-width));
  height: calc(2 * var(--pc-height));
  border-radius: 10px;
  border-top: none;
  border: 5px solid var(--main-black);
  border-top: none;
  z-index: 10;
}

div.pc_header {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: var(--pc-header-height);
  background-color: var(--main-black);
  z-index: 10;
}

div.pc_dot {
  width: var(--pc-dot-size);
  height: var(--pc-dot-size);
  background-color: var(--main-white);
  border-radius: 50%;
  margin-right: 5px;
  z-index: 10;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

div.projects_cards_container_wrapper::-webkit-scrollbar {
  width: 10px;
}

.original::-webkit-scrollbar-thumb {
  background-color: var(--main-red); 
  border-radius: 20px;
}

.xproof::-webkit-scrollbar-thumb {
  background-color: #F7CF5C; 
  border-radius: 20px;
}

.soundTribe::-webkit-scrollbar-thumb {
  background-color: #7FB685;
  border-radius: 20px;
}

.inkedIn::-webkit-scrollbar-thumb {
  background-color: #AB882E;
  border-radius: 20px;
}

.consoleFly::-webkit-scrollbar-thumb {
  background-color: #ED7236;
  border-radius: 20px;
}

.mondriansDream::-webkit-scrollbar-thumb {
  background-color: #015CA0;
  border-radius: 20px;
}

div.projects_cards_container_wrapper::-webkit-scrollbar-track {
  background-color: #eee;
}

@media (max-width: 1550px) {
  .demo_contanier_pc .iframe_pc {
    transform: scale(0.4);
    width: calc(5/2 * (var(--pc-width) - var(--pc-frame) - var(--pc-x-off) / 2));
    height: calc(5/2 * (0.64 * var(--pc-width) - var(--pc-frame) - var(--pc-y-off) / 2));
  }

}