div.main_view_container {
  padding: 1rem 2rem 0 2rem;
}

.projects_mobile_container {
  display: flex;
  justify-content: space-between;
}

div.title_projects_container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

div.projects_cards_container {
  max-height: 550px;
  overflow-y: auto;
}

div.demo_container {
  padding-right: 6rem;
}

