
.blob-container {
  position: relative;
  width: 900px;
  height: 600px;
}

.blob-container p {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}