@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: porlane;
  src: url('./assets/fonts/Porlane.ttf');
}
:root {
  --main-red: #ED6A5A;
  --main-black: #292F36;
  --main-white: #F9F7F5;
  --frame-width: 3vw;
  --frame-padding: 4vw;
  --nav-padding: 0.2rem;
  --link-size: 1.2rem;
}

/* General Styles */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--main-white);
  color: var(--main-black);
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h1 {
  font-family: porlane;
  font-size: 8rem;
}
h2{
  font-size: 1.5rem;
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
a {
  text-decoration: none;
  font-variant-caps: all-petite-caps;
  color: var(--main-black);
  font-size: var(--link-size);
}
.frame {
  width: 100%;
  height: 100%;
  border: var(--frame-width) solid var(--main-white);
}
.frameTopCorner {
  position: absolute;
  top: var(--frame-width);
  left: var(--frame-width);
  z-index: 10;
}
.frameBottomCorner {
  position: absolute;
  right: var(--frame-width);
  bottom: var(--frame-width);
  z-index: 10;
}

/* Navbar */

nav.navbar {
  position: absolute;
  width: calc(100vw - 2 * var(--frame-width) - var(--frame-padding));
  height: 1rem;
  top: calc(var(--frame-width) - var(--link-size) - var(--nav-padding));
  right: calc(var(--frame-padding) + var(--frame-width));
  display: flex;
  justify-content: space-between;
}
nav.navbar div.language_selector_nav {
  margin-top: 0;
  align-items: center;
}

nav.navbar ul {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1000px) {
  nav.navbar {
    top:calc(var(--frame-padding) + var(--frame-width));
    height: 8rem;
    padding: .5rem 0;
    z-index: 10;
  }
  nav.navbar ul {
    flex-direction: column;
    gap: .2rem;
  }
  nav.navbar ul li {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 1.2rem;
  }
  nav.navbar ul li a {
    font-size: 1.1rem;
  }
  .active {
    font-size: 2rem;
    height: inherit;
  }
  .active-bullet {
    height: 0.5rem;
  }
}