@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: porlane;
  src: url('./assets/fonts/Porlane.ttf');
}
:root {
  --main-red: #ED6A5A;
  --main-black: #292F36;
  --main-white: #F9F7F5;
  --frame-width: 3vw;
}

/* General Styles */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--main-white);
  color: var(--main-black);
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}
.App {
  width: 100vw;
  height: 100vh;
}
h1 {
  font-family: porlane;
  font-size: 8rem;
}
h2{
  font-size: 1.5rem;
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
a{
  text-decoration: none;
  color: var(--main-black)
}
.frame {
  width: 100%;
  height: 100%;
  border: var(--frame-width) solid var(--main-white);
}
.frameTopCorner {
  position: absolute;
  top: var(--frame-width);
  left: var(--frame-width);
}
.frameBottomCorner {
  position: absolute;
  right: var(--frame-width);
  bottom: var(--frame-width);
}

/* Navbar */

nav.navbar {
  position: absolute;
  right: 4%;
  top: 3%
}

nav.navbar ul {
  display: flex;
  gap: 1rem;
}